body{
	margin:0;
	font-family: 'Helvetica', 'Arial', san-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
/*back ground color within <head> image </head> in html*/
	background-color: #F50A2D; 
	text-align: center;
	/*leave space top and bottom of image*/
	padding-top: 60px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

/*header styles*/
header h1{
	color: white;
	font-size: 50px;

}

/*image circle*/
header img{
	border-radius: 170px;
    width: 300px;
    border:10px solid white;
}


main{

	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}

h2{
	font-siz: 35px;
	color: #e70c19;
	margin: 40px 0 10px;
}
/*RAi's partner*/

a{
	color: #e70c19;
}
a:hover{
	color:white;
	background-color: #483a94;
}

footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding:50px;
}

footer p{
	margin: 0;
}
footer a{
	color:white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin: 0;
}